.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--main-dark);
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.auth-form input {
  width: 300px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 19px;
  border: none;
  border-radius: 7px;
  text-align: center;
}

.auth-form input[type=button] {
  background-color: var(--shallow-dark);
  color: var(--main-bright);
  cursor: pointer;
}

.user-created-notification {
  border-radius: 5px;
  background-color: var(--main-bright);
  padding: 10px;
  width: 300px;
  box-sizing: border-box;
}

.user-created-notification hr {
  margin: 10px 0;
  height: 1px;
  border: none;
  
}