.sidebar-wrapper {
    width: 20%;
    position: relative;
}

.sidebar-wrapper.hidden {
    width: 105px;
}

.sidebar-wrapper.hidden .sidebar-item-text,
.sidebar-wrapper.hidden .delimiter,
.sidebar-wrapper.hidden .auth-info,
.sidebar-wrapper.hidden .nested-sidebar-list {
    display: none !important;
}


.sidebar-header {
    display: flex;
    height: 80px;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 0 20px;
}

.sidebar-hide-bttn {
    padding: 5px 8px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar-hide-bttn:hover {
    background-color: var(--hovered-dark);
}

.sidebar-header img {
    margin: auto;
    margin-right: 0;
}

.sidebar-wrapper.hidden .sidebar-header img {
    margin-right: auto;
}

.sidebar-header-divider-wrapper {
    width: 100%;
    height: 1px;
    background-color: var(--shallow-dark);
}
.sidebar-header-divider {}


.sidebar {
    height: 100vh;
    background-color: var(--main-dark);
    color: var(--main-bright);
    position: sticky;
    top: 0;
    overflow-y: scroll;
}

.sidebar .delimiter {
    font-size: 25px;
    margin: 30px 10px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding-bottom: 10px;
}

.sidebar > ul > a > li {
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    font: 16px 'Arial', sans-serif;
    cursor: pointer;
    color: var(--dark-grey);
}

.sidebar > ul > a[aria-current=page] > li > .icon_light,
.sidebar > ul > a > li > .icon_dark {
    display: none;
}

.sidebar > ul > a > li > .icon_light,
.sidebar > ul > a[aria-current=page] > li > .icon_dark {
    display: block;
}

.sidebar > ul {
    padding: 15px 25px;
}

.sidebar > ul > a > li:hover {
    background-color: var(--hovered-dark);
    color: var(--main-bright);
}

.sidebar > ul > a > .nested-sidebar-list {
    background-color: var(--main-grey);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: none;
}

.sidebar > ul > a[aria-current=page] > .nested-sidebar-list {
    display: block;
    color: var(--main-dark);
}

.nested-sidebar-list li {
    padding: 10px;
    padding-left: 40px;
    margin-bottom: 0;
}

.sidebar > ul > a[aria-current=page] > li {
    background-color: var(--main-bright);
    color: var(--main-dark);
}

.nested-sidebar-list li:hover {
    background-color: var(--dark-grey);
}

.sidebar-item-with-list[aria-current=page] > li {
    border-radius: 5px 5px 0 0 !important;
    margin-bottom: 0;
}


.sidebar-wrapper.hidden .sidebar-item-with-list[aria-current="page"] > li {
    border-radius: 5px !important;
}